@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background: linear-gradient(rgba(64, 64, 64, 0.3), rgba(64, 64, 64, 0.3)), url("/static/accounts/img/rob_correct_crop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }

main {
  margin: 0; }

h1, h2, h3, h4, h5, p {
  margin: 5%; }

/* ------------ NAVIGATION ------------- */
.container {
  width: 95%;
  max-width: 100%;
  margin: 0 auto; }

header {
  background: rgba(0, 0, 0, 0.5);
  color: #a9f200;
  margin-bottom: 500px;
  padding: 1.75em 0;
  position: relative; }

header::after {
  content: '';
  clear: both;
  display: block; }

.logo {
  font-size: 1.5em;
  margin: 0;
  font-weight: 700; }

h2.logo {
  font-weight: 100;
  color: white;
  font-size: .5em;
  float: left;
  padding: .5em 0; }

span.rob {
  display: none; }

.site-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  z-index: 1;
  /*   display: none; */ }

.site-nav--open {
  clip-path: circle(250% at top right);
  /*   display: block; */ }

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-nav li {
  border-bottom: 1px solid #404040; }

.site-nav li:last-child {
  border-bottom: none; }

.site-nav a {
  color: #EBEBD3;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none; }

.site-nav a:hover,
.site-nav a:focus {
  background: rgba(169, 242, 0, 0.55);
  color: #404040; }

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4); }

.menu-toggle {
  padding: 1.5em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer; }

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms; }

.hamburger::before {
  transform: translateY(-6px); }

.hamburger::after {
  transform: translateY(3px); }

.open .hamburger {
  transform: rotate(45deg); }

.open .hamburger::before {
  opacity: 0; }

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg); }

.perm-nav {
  bottom: -46px;
  left: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  text-transform: uppercase; }

.action {
  text-decoration: none;
  padding: 10px 0;
  display: block;
  margin: 10px 0;
  text-align: center;
  float: left; }

.action:hover {
  background-color: black;
  color: white; }

nav .sign-up {
  background-color: #F15025;
  color: white;
  width: 50%; }

nav .log-in {
  background-color: #3581B8;
  color: white;
  width: 50%; }

/* ------------ Footer ------------- */
footer {
  background-color: white;
  text-align: center;
  margin: 400px 0 0 0;
  padding: 23px 5px;
  line-height: 21px; }

footer p {
  font-size: 1em;
  margin: 1%; }

footer img {
  width: 85px;
  padding: 15px 5px; }

/* ------------ Ribbons ------------- */
section.ribbon {
  margin: -10px;
  background-color: rgba(169, 242, 0, 0.55);
  padding: 3em 2em; }

section.ribbon h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em; }

section.ribbon a {
  padding: 5px 7px;
  background-color: #404040;
  color: white;
  text-decoration: none;
  border-radius: 5px; }

section.ribbon a:hover {
  background-color: black; }

div.button {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  padding: 20px 0; }

div.book-button {
  text-align: right; }

section.ribbon img {
  width: 40%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto; }

/* ------------ ABOUT ------------- */
section.about {
  background: rgba(255, 255, 255, 0.75);
  margin: 10px 0;
  padding: 5% 0; }

.about h2 {
  font-size: 1.25em;
  font-weight: 800;
  text-align: center; }

section.about img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%; }

/* ------------ PRODUCTS ------------- */
#product-section {
  text-align: center;
  padding: 10%; }
  #product-section h2 {
    font-size: 1.5em;
    font-weight: 900;
    color: white; }
  #product-section h3 {
    font-size: 1em;
    font-weight: 800;
    color: white; }
  #product-section img {
    width: 250px; }
  #product-section h4 {
    margin: -2px auto 0 auto;
    padding: 5% 0;
    background-color: #404040;
    color: white;
    text-decoration: none;
    width: 250px; }
  #product-section h4:hover {
    background-color: black; }
  #product-section li {
    padding-top: 8%; }
  #product-section .btn {
    display: none; }

/* ------------ Contact ------------- */
section.contact h2 {
  font-size: 1.75em;
  font-weight: 900;
  color: white;
  text-align: center;
  padding: 0 10%; }
section.contact h3 {
  font-size: 1em;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 0 10%;
  line-height: 1.5em; }

form#contact-form {
  margin: 3%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px; }

label {
  margin: 2% 4%;
  display: block; }

textarea {
  margin: 10px 10px;
  width: 90%;
  height: auto; }

button {
  background-color: #404040;
  color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  padding: 10px 30px; }
  button:hover {
    background-color: rgba(169, 242, 0, 0.55);
    color: black; }
  button.button {
    margin-left: 35%; }

/* ------------ blog ------------- */
main.container {
  background: rgba(255, 255, 255, 0.75);
  margin: 10px 10px;
  padding: 5% 0; }
  main.container h2 {
    font-size: 2em;
    color: black;
    font-weight: 800; }
  main.container h5 {
    font-size: 1.25em; }
  main.container a.author {
    text-decoration: none;
    color: #3581B8; }
    main.container a.author:hover {
      color: black; }
  main.container p.post-time {
    font-size: .75em; }
  main.container.single_view {
    padding: 0 0 5% 0; }

a.read-more {
  width: 100%;
  text-align: center;
  margin: 0 0 0 20px;
  padding: 5px 20px;
  background-color: #404040;
  color: white;
  text-decoration: none;
  border-radius: 5px; }
  a.read-more:hover {
    background-color: rgba(169, 242, 0, 0.55);
    color: black; }

.card-footer {
  margin: 2em;
  font-size: .75em; }

button.button {
  margin-left: 35%; }

/* ------------ blog ADMIN ------------- */
section.create {
  margin-top: -58%; }

form.blog_create {
  margin: 3%;
  padding: 5% 0 35% 0;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px; }
form p {
  margin: 0; }
form select {
  margin: 3% 5% 4% 5%; }
form input#sub-btn {
  width: auto;
  background-color: #404040;
  color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  padding: 10px 30px;
  margin: 4% 31%;
  border: none; }
  form input#sub-btn:hover {
    background-color: rgba(169, 242, 0, 0.55);
    color: black; }
form input, form select, form textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 0% 4% 3% 4%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  float: left; }
form textarea {
  height: 100px; }

img.post_img {
  max-width: 100%;
  height: auto; }

/* ------------ Log In ------------- */
main.login {
  margin: -300px 0 0 0; }
  main.login h1 {
    font-size: 3em;
    color: white;
    text-align: center; }
  main.login div.login {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    width: 23em;
    height: 23em; }
  main.login form {
    padding: 100px 57px 10px 63px; }
  main.login label {
    display: inline-block; }
  main.login input {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    float: left; }
  main.login input.btn {
    width: 200px;
    margin: 40px 144px 27px 22px;
    background-color: #404040;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px; }
    main.login input.btn:hover {
      background-color: rgba(169, 242, 0, 0.55);
      color: black; }
  main.login a {
    margin: 0 95px;
    display: inline; }

/* ------------ Sign Up ------------- */
main.sign_up {
  margin: -300px auto 0 auto;
  width: 360px; }
  main.sign_up h1 {
    font-size: 3em;
    color: white;
    text-align: center; }
  main.sign_up div {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px; }
  main.sign_up form {
    padding: 5% 0%; }
  main.sign_up button {
    margin: 10% 0% 7% 33%; }

/* ------------ Profile Page ------------- */
main.profile_page {
  margin: -430px 2% 0 2%; }
  main.profile_page div {
    padding: 0 0 30px 0;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px; }
    main.profile_page div img.profile_pic {
      max-width: 300px;
      border-radius: 50%;
      padding: 30px; }
    main.profile_page div section {
      width: 360px;
      background-color: grey;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }

/* ------------ Media queries ------------- */
@media (min-width: 767px) {
  form input#sub-btn {
    margin: 3% 41%; }
  form.blog_create {
    padding: 1% 0 22% 0; }

  section.about img {
    width: 40%;
    float: right; } }
/* ------------ MIN-WIDTH 769 ------------- */
@media (min-width: 814px) {
  /* ------------ NAVIGATION ------------- */
  .menu-toggle {
    display: none; }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial; }

  .site-nav li {
    display: inline-block;
    border: none; }

  .site-nav a {
    padding: 0;
    margin-left: 3em; }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent; }

  .site-nav--icon {
    display: none; } }
@media (min-width: 1023px) {
  section.create {
    margin-top: -40%; } }

/*# sourceMappingURL=style.css.map */
