{% extends 'base.html' %}


{% load static %}

{% block content %}

    <main id="home">
        <section class="ribbon" id="top-ribbon">
            <h2>Get a custom 4-week program made specifically for you!</h2>
            <div class="button">
                <a class="button" href="#">Learn More</a>
            </div>
        </section>
        <section class="about">
            <div class="about-img">
                <img src="{% static 'accounts/img/rob-headshot.jpg' %}">
            </div>
            <div class="about-text">
                <h2>The Primal Prowess Philosophy</h2>
                <p class="philosophy">I consider myself to be an "outside of the box" practitioner. I'm a divergent
                    thinker and believe that one cannot design the superior athlete without being unconventional,
                    or otherwise unorthodox, in the training methods implemented. I'm classically educated like most
                    of society. Although I see the relevance in this, I also strongly feel that self-education through
                    experience is just as necessary; this is what truly separates me from others.
                </p>
            </div>
        </section>

        <section class="ribbon" id="book-ribbon">
            <img src="{% static 'accounts/img/book.jpg' %}" class="book" alt="Athlematics by Rob Bozada">
            <p class="book">Athlematics strives to provide the athlete and coach with viable, relevant knowledge
                regarding athletic
                training methodologies via supporting sub-practices such as: kinesiology, psychology, physics,
                cybernetics,
                and physiology.
            </p>
            <div class="button">

                <a class="book-button" id="book-btn"
                   href="https://www.amazon.com/Athlematics-Quantifying-Athleticism-Dean-Bozada/dp/1493621165/ref=sr_
                   1_1?ie=UTF8&qid=1528493540&sr=8-1&keywords=athlematics&dpID=41t8rVtGBfL&preST=_SY291_BO1,204,203,
                   200_QL40_&dpSrc=srch">Buy On Amazon
                </a>

            </div>
        </section>

        <section id="product-section">
            <h2>Personalized Training Programs</h2>
            <h3>Click on the programs to learn more!</h3>
            <div class="product-list">
                <ul>
                    <li class="products">
                        <a href="#">
                            <img src="{% static 'accounts/img/rob-deadlift.jpg' %}">
{#                            <button class="btn">Add To Cart</button>#}
                            <h4>4-Week Training Program</h4>
                        </a>
                    </li>
                    <li class="products">
                        <a href="#">
                            <img src="{% static 'accounts/img/rob-sprint.jpg' %}">
{#                            <button class="btn">Add To Cart</button>#}
                            <h4>Primal Reclamation Package</h4>
                        </a>
                    </li>
                    <li class="products">
                        <a href="#">
                            <img src="{% static 'accounts/img/rob-plank.jpg' %}">
{#                            <button class="btn">Add To Cart</button>#}
                            <h4>Place Holder Text</h4>
                        </a>
                    </li>
                    <li class="products">
                        <a href="#">
                            <img src="{% static 'accounts/img/rob-plank.jpg' %}">
{#                            <button class="btn">Add To Cart</button>#}
                            <h4>Place Holder Text</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="ribbon" id="bottom-ribbon">
            <h2>Unleash your Primal Prowess!</h2>
            <div class="button">
                <a class="button" href="#">Learn More</a>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="contact container">
                <h2>Contact</h2>
                <h3>Have questions about these products? Shoot me a message!</h3>
                <form id="contact-form" action="/my-handling-form-page" method="post">
                     
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="user_name">
                    </div>

                     
                    <div>
                        <label for="mail">E-mail:</label>
                        <input type="email" id="mail" name="user_email">
                    </div>

                    <div>
                        <label for="msg">Message:</label>
                        <textarea id="msg" name="user_message"></textarea>
                    </div>

                    <div class="button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="certs">
                <h2 class="certs">Certifications</h2>
                <img src="{% static 'accounts/img/logos.jpg' %}" class="cert_logos">
            </div>
        </section>


    </main>


{% endblock %}