{% extends 'base.html' %}


{% load static %}


{% load accounts_tags %}


{% block content %}

    <main id="home">
        <section class="ribbon" id="top-ribbon">
            <h2>Get a custom fitness program designed to meet your needs!</h2>
            <div class="button">
                <a class="button" href="{% url 'store' %}">Learn More</a>
            </div>
        </section>
        <section class="about">
            <div class="about-img">
                <img src="{% static 'accounts/img/rob-headshot.jpg' %}">
            </div>
            <div class="about-text">
                <h2>The Primal Prowess Philosophy</h2>
                <p class="philosophy"> I consider myself to be an "outside of the box" practitioner. I'm a divergent
                    thinker
                    and believe that one cannot design the superior athlete without being
                    unconventional, or otherwise unorthodox, in the training methods implemented.
                    I'm classically educated like most of society. Although I see the relevance in this,
                    I also strongly feel that self-education through experience is just as necessary;
                    this is what truly separates me from others. I believe that these unique, personal
                    experiences have allowed me to extrapolate my own epistemological protocols.
                    One tends to be regarded as "taboo" or “going against the grain” when
                    implementing avant garde methods of performance conditoning. However,
                    xenogamy of principles is pertinent to diversity and innovation within training
                    methodology.</p>
                <p class="philosophy">
                    If one desires to achieve a level of athleticism unlike anyone has ever seen, then
                    one must also strive to train like no one else. What will put you at an advantage
                    over the hungry, vicious competition? Your arsenal of athletic abilities must be
                    developmentally sound and devastating to the opposition. Upon subscribing to
                    this site, you will have the resources required to pull back on the throttle of your
                    primal, infinite potential.

                </p>
            </div>
        </section>

        <section class="ribbon" id="book-ribbon">
            <img src="{% static 'accounts/img/book.jpg' %}" class="book" alt="Athlematics by Rob Bozada">
            <p class="book">Athlematics strives to provide the athlete and coach with viable, relevant knowledge
                regarding athletic
                training methodologies via supporting sub-practices such as: kinesiology, psychology, physics,
                cybernetics,
                and physiology.
            </p>
            <div class="button">

                <a class="book-button" id="book-btn"
                   href="https://www.amazon.com/Athlematics-Quantifying-Athleticism-Dean-Bozada/dp/1493621165/ref=sr_
                   1_1?ie=UTF8&qid=1528493540&sr=8-1&keywords=athlematics&dpID=41t8rVtGBfL&preST=_SY291_BO1,204,203,
                   200_QL40_&dpSrc=srch">Buy The Book
                </a>

            </div>
        </section>

        <section id="product-section">
            <h1>Custom Fitness Programs</h1>
            <section class="product_list">
                <ul>
                    {% for product in products %}
                        <li>
                            <div class="card">
                                {% store_image_or_default product %}
                                <h3>{{ product.product_name }}</h3>
                                <hr>
                                <p class="price">{{ product.price }}</p>
                                <hr>
                                <p>{{ product.short_description }}</p>
                                <div class="button">
                                    <a href="{% url 'store_single_view' product.slug %}" class="button">Read
                                        More</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </section>

        <section class="ribbon" id="bottom-ribbon">
            <h2>Unleash your Primal Prowess!</h2>
            <div class="button">
                <a class="button" href="#">Learn More</a>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="contact container">
                <h2>Contact</h2>
                <h3>Have questions about these products? Shoot me a message!</h3>
                {% include "accounts/contact.html" %}
            </div>
            <div class="certs">
                <h2 class="certs">Certifications</h2>
                <img src="{% static 'accounts/img/robs-certs.jpg' %}" class="cert_logos">
            </div>
        </section>


    </main>


{% endblock %}



