{% extends 'base.html' %}
{% load accounts_tags %}

{% block content %}
    <main class="profile_page">
        <div class="profile_page">
            <section class="profile_pic">
                {% profile_image_or_default user %}
            </section>
            <p>Username: {{ user.username }} </p>
            <p>Height: {{ user.height }}</p>
            <p>Weight: {{ user.weight }}</p>
            <p>Bio: {{ user.bio }}</p>
            <p>Fitness Goals: {{ user.goals }}</p>
            <p>Email: {{ user.email }}</p>
            <a class="edit_profile" href="{% url 'profile_edit' %}">Edit Profile</a>
        </div>
    </main>

{% endblock %}