{% extends 'base.html' %}

{% block content %}
    <main class="sign_up">
        <h1>Sign Up</h1>
        <h2>Get access to weekly workouts, nutrition tips, and more for just <span>$29/mo.</span></h2>
        <div class="sign_up">

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {#        {% if field.help_text %}#}
                        {#          <small style="color: red">{{ field.help_text|safe }}</small>#}
                        {#        {% endif %}#}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WWQDGAEMPLFBQ">
                <input type="submit" class="store-button"
                       name="Sign Up" value="Sign Up" alt="PayPal">
            </form>


        </div>
    </main>
{% endblock %}




