{% extends 'base.html' %}

{% block content %}
    <main class="sign_up">
        <h1>Sign Up</h1>
        <h2>Get access to weekly workouts, nutrition tips, and more for just $19/mo.</h2>
        <div class="sign_up">

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {#        {% if field.help_text %}#}
                        {#          <small style="color: red">{{ field.help_text|safe }}</small>#}
                        {#        {% endif %}#}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PJ2MCE8PXTM9L">
                    <button type="submit">
                        Sign up
                    </button>
                </a>


            </form>
        </div>
    </main>
{% endblock %}