{% extends 'base.html' %}

{% load accounts_tags %}



{% block content %}
    <main class="store_single_view">
        <div class="product_image">
            {% store_image_or_default product %}
        </div>
        <div class="product_description">
            <h2 class="blog">{{ product.product_name }}</h2>
            <p>{{ product.short_description }}</p>
            <p>{{ product.price }}</p>

            <button id="buy_now">Buy Now</button>

            <section class="review description">
                <h3>Description</h3>
                <hr>
                <p>{{ product.description }}</p>
            </section>
        </div>
    </main>

{% endblock %}